/* src/InstructorPage.css */
.group-management 
{
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.logo 
{
  position: absolute;
}

.concordia-logo 
{
  width: 200px;
  top: 20px;
  left: 20px;
}

.create-group 
{
  margin-bottom: 20px;
}

.group 
{
  margin-top: 20px;
}

.group table 
{
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
}

.group table, .group th, .group td
{
  border: 1px solid black;
}

.group th, .group td 
{
  padding: 10px;
  text-align: left;
}
